body {
    color: red;
    background-color: black;
  }

h1 {
    color: green
}
h1 {
    font-size: 150pt
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
    color:yellow
}

h3 {
    color:orchid
}

h4 {
    color:cyan
}

h5 {
    color:whitesmoke
}

h6 {
    color:darkgoldenrod
}